h1{color:green;}
#teste{border: 1px solid black; height: 50px;}
.col-md-6{border: 1px solid black; height:  25px;}
fieldset{border:1px solid black; width:500px;}
#cadastro{width:527px; height:250px; margin:0 auto;}
